  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .profile-card, .image-container{
    flex: 1;
    min-width: 300px;
  }
  
  .profile-card { 
  display: flex; 
  flex-direction: column;
  border: 5px solid #304980;
  background-color: #ffffff;
  width: 100%; 
  max-width: 600px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
 } 

 .small-banner { 
  width: 100%; 
  height: 100px; 
  background-size: cover; 
  background-position: center; 
  margin-bottom: 20px; 
  background-color: transparent;
 }
 
 .left-column, .right-column { 
  flex: 1;
  padding: 20px;
 } 

  @media(min-width:600px){
    .profile-card{
      flex-direction: row;
    }
  
  .left-column, .right-column{
    width: 50%;
  }
}

  .left-column { 
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box; 
    font-family: "Century Gothic", Arial, sans-serif;
   } 

   .right-column { 
    background-color: #304980;
    color:#ffffff; 
    text-align: center;
    box-sizing: border-box; 
    font-family: "Century Gothic", Arial, sans-serif;
  } 

  .left-column ul, .right-column ul { 
    list-style-type: none; 
    padding: 0; 
    margin:0;
    font-family: "Century Gothic", Arial, sans-serif;
  } 
  
  .left-column li, .right-column li { 
    margin-bottom: 10px; 
    font-family: "Century Gothic", Arial, sans-serif;
  } 

  .profile-banner{
    width: 100%;
    height: 100px;
    background-image: url('https://i.postimg.cc/cCkhYKfX/aqua-logo-2.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .profile-image { 
    width: auto; 
    height: auto; 
    background-color: #ccc; 
    border-radius: 50%; 
    margin: 0 auto; 
    display: block;
  } 

  .profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .profile-name { 
    font-size: 1.2em; 
    font-weight: bold; 
  } 
  
  .observations { 
    margin-top: 20px; 
  }

  .profile-box-title{
    font-size: medium;
  }
  
  .visit-info {
    margin-bottom: 20px;
  }

  .visit-label{
    font-size: 1.5em;
    font-weight: 345;
    color: #304980;
  }

  .visit-number{
    width: 130px;
    height: 80px;
    background-color: #8fabdc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px auto;
    border: 2px solid #8fabdc;
    color: #ffffff;
  }

  .info-rectangles{
    width: 109%;
    height: 25px;
    background-color: #304980;
    color:#f0f0f0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
    border: 2 px solid #304980;
  }

  .info-item{
    font-size: 1.5em;
    font-weight: 345; 
    color: #304980;
  }

  .info-item-text{
    font-size: 1em;
    font-weight: bold; 
    color: #304980;
  }
  
  .carousel{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }

  .image-container{
    border: 5px solid #304980;
    border-radius: 8px;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 700px;
  }